.select {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;

    button {
        color: #000;
        background: #fff;
        padding: 0.65rem 1rem;
        border-radius: 10px;
        font-size: 0.85rem;
        text-transform: capitalize;
        cursor: pointer;
        border: none;
        margin-top: 0rem;
        font-family: "Poppins";

        &.active {
            background: #8c12f0;
            color: #fff;
        }
    }
}

.finishes_container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: #fff;

    .number {
        color: #8c12f0;
        font-size: 1.7rem;
    }
}

.skills_container {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    flex-wrap: wrap;
    margin: 1rem auto;
    max-width: 1200px;
}

.skills_content {
    background-color: #2b2a2c;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem;
    border-radius: 1.25rem;
    margin-top: 1rem;
    max-width: 350px;
    min-width: 350px;
}

.skills_title {
    font-size: 14;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    color: #8c12f0;
}

.skills_box {
    display: flex;
    justify-content: center;
    column-gap: 5rem;
}

.skills_data {
    display: flex;
    flex-direction: column;
    align-items: center;

    .skills_icon {
        color: #fff;
        font-size: 2em;
        margin-bottom: -0.5rem;
    }

    .skills_name {
        color: #fff;
        font-weight: 50;
        font-size: 1rem;
    }
}

.skills_group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}
