.select {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;

    button {
        color: #000;
        background: #fff;
        padding: 0.65rem 1rem;
        border-radius: 10px;
        font-size: 0.85rem;
        text-transform: capitalize;
        cursor: pointer;
        border: none;
        margin-top: 0rem;
        font-family: "Poppins";

        &.active {
            background: #8c12f0;
            color: #fff;
        }
    }
}
// .skills {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     justify-content: center;
//     margin-left: auto;
//     margin-right: auto;
//     max-width: 700px;
//     row-gap: 4rem;

//     @media screen and (max-width: 500px) {
//         grid-template-columns: repeat(2, 1fr);
//         gap: 2rem;
//     }
//     .tools {
//         display: flex;
//         justify-content: center;
//         svg {
//             width: 100px;
//             height: 100px;
//             border-radius: 50%;
//             color: #fff;
//         }
//     }
// }
.experiences {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    .experience {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        span {
            font-size: 1.75rem;
            padding-left: 2.5rem;

            @media screen and (max-width: 405px) {
                font-size: 1rem;
            }
        }
        .position {
            width: 300px;
            padding-left: 2.5rem;
            h3 {
                font-size: 1.1rem;
                @media screen and (max-width: 405px) {
                    font-size: 0.85rem;
                }
            }
            p {
                font-size: 0.75rem;
                opacity: 0.6;

                @media screen and (max-width: 405px) {
                    font-size: 0.65rem;
                }
            }
        }
    }
}

.finishes_container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: #fff;

    .number {
        color: #8c12f0;
        font-size: 1.7rem;
    }
}

.skills_container {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    flex-wrap: wrap;
    margin: 1rem auto;
    max-width: 1200px;
}

.skills_content {
    background-color: #2b2a2c;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem;
    border-radius: 1.25rem;
    margin-top: 1rem;
    max-width: 350px;
    min-width: 350px;
}

.skills_title {
    font-size: 14;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    color: #8c12f0;
}

.skills_box {
    display: flex;
    justify-content: center;
    column-gap: 5rem;
}

.skills_data {
    display: flex;
    flex-direction: column;
    align-items: center;

    .skills_icon {
        color: #fff;
        font-size: 2em;
        margin-bottom: -0.5rem;
    }

    .skills_name {
        color: #fff;
        font-weight: 50;
        font-size: 1rem;
    }
}

.skills_group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.timeline-section {
    min-height: 100vh;
    padding: 1rem 15px;
    margin-bottom: -2.5rem;
}
.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #2b2a2c;
    left: calc(50% - 1px);
}
.timeline-item {
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child {
    margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}
.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date {
    font-size: 18px;
    color: #fff;
    margin: 3px 10px 1px;
}
.timeline-content {
    background-color: #1f1f20;
    padding: 30px;
    border-radius: 15px;
}
.timeline-content h3 {
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 0px;
    text-transform: capitalize;
    font-weight: 500;
}
.timeline-content h4 {
    font-size: 18px;
    color: #8c12f0;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}
.timeline-content p {
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* responsive */
@media (max-width: 767px) {
    .timeline-items::before {
        left: 7px;
    }
    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }
    .timeline-dot {
        left: 0;
    }
    .timeline-section {
        margin-bottom: -12rem;
    }
}
